/* Main font */
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("/fonts/ZKGN-Regular-Main.woff2") format("woff2");
  font-weight: 100 400;
  unicode-range: U+0000-00FF;
}
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("/fonts/ZKGN-Medium-Main.woff2") format("woff2");
  font-weight: 500 900;
  unicode-range: U+0000-00FF;
}

/* Extended */
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("/fonts/ZKGN-Regular-Extended.woff2") format("woff2");
  font-weight: 100 400;
  unicode-range: U+0131-277E;
}
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("/fonts/ZKGN-Medium-Extended.woff2") format("woff2");
  font-weight: 500 900;
  unicode-range: U+0131-277E;
}

/* CJK (for Japanese) */
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("/fonts/ZKGN-Regular-CJK.woff2") format("woff2");
  font-weight: 100 400;
  unicode-range: U+0131-277E;
}
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("/fonts/ZKGN-Medium-CJK.woff2") format("woff2");
  font-weight: 500 900;
  unicode-range: U+3000-FFFF;
}

@font-face {
  font-family: "Jet Brains Mono";
  src: url("/fonts/JetBrainsMono-Variable.woff2") format("woff2");
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
}
